# Node dependencies
node_modules/

# Environment variables
.env

# SQLite database files and backups
data/
*.db
/data/
/data/*
!data/.keep
# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Build or temp folders (لو وجدت)
dist/
tmp/
